<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.johnny.atcrowdfunding.dao.UserDao">

    <select id="queryUserForMap" parameterType="java.util.Map" resultType="com.johnny.atcrowdfunding.model.User">
        select * from user
        <where>
            <if test="queryCondition != null">
                AND account like CONCAT('%' , #{queryCondition} , '%' )
            </if>
        </where>
        order by createtime desc
        limit #{fromCount},#{pageSize}
    </select>

    <select id="queryUserCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="queryCondition != null">
                AND account like CONCAT('%' , #{queryCondition} , '%' )
            </if>
        </where>
    </select>



</mapper>